{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="TW314 é um sistema de acompanhamento de fila feito para o século 21">
    <title>TW314</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicons/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicons/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/favicons/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/favicons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "img/favicons/manifest.json" %}">
    <link rel="mask-icon" href="{% static "img/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static "img/favicons/mstile-144x144.png" %}">
    <meta name="theme-color" content="#f16000">

    <!-- CSS-->
    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <link rel="stylesheet" href="{% static "css/backtotop.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<header id="home" class="scrollspy">
    <div class="navbar-fixed fadeInLeft">
        <nav>
            <div class="nav-wrapper fixed ">
                <ul>
                    <li>
                        <a href="/" class="logo hide-on-small-and-down base_text margin-title master valign-wrapper">
                            <img src="{% static "img/logo-certa.png" %}" class="responsive-img icon valign"> <span class="flow-text_2 arial_round valign">TW<span class="principal_v2_text">314</span></span>
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a class="white-text light" href="../login"><span class="hide-on-small-and-down"> ENTRAR </span> <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                </ul>
                <div class="row nav-align section ">
                    <div class="wrapper2">
                        <ul class="hide-on-small-and-down fadeInDown">
                            <li>
                                <a href="#home" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home">
                                    <i class="fa fa-home icon" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_bus" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Quem somos?">
                                    <i class="fa fa-question-circle icon" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_how" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Como funciona?">
                                    <i class="fa fa-info-circle icon" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#section_clients" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Clientes">
                                    <i class="fa fa-users icon" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_contact" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contato">
                                    <i class="fa fa-comments icon" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_contract" class="hoverable btn-floating btn-large waves-effect waves-light blue menu_circle hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contratar">
                                    <i class="fa fa-thumbs-up icon" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="hide-on-med-and-up fadeInDown">
                            <li>
                                <a href="#home" class="hoverable btn-floating waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_bus" class="hoverable btn-floating waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Quem somos?">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_how" class="hoverable btn-floating waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Como funciona?">
                                    <i class="fa fa-info-circle " aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#section_clients" class="hoverable btn-floating  waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Clientes">
                                    <i class="fa fa-users " aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_contact" class="hoverable btn-floating waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contato">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#section_contract" class="hoverable btn-floating waves-effect waves-light blue hvr-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Contratar">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
               <a class="button-collapse black-text" href="#" data-activates='nav-mobile'><i class="fa fa-bars margin-icons base_text" aria-hidden="true"></i></a>
               <ul class="right side-nav"  id="nav-mobile">
                   <li class="valign-wrapper"><a href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                   <li class="valign-wrapper"><a href="#section_bus"><i class="fa fa-question-circle icon" aria-hidden="true"></i> Quem somos?</a></li>
                   <li class="valign-wrapper"><a href="#section_how"><i class="fa fa-info-circle" aria-hidden="true"></i> Como Funciona?</a></li>
                   <li class="valign-wrapper"><a href="#section_clients"><i class="fa fa-users" aria-hidden="true"></i> Clientes</a></li>
                   <li class="valign-wrapper"><a href="#section_contact"><i class="fa fa-comments" aria-hidden="true"></i> Contato</a></li>
                   <li class="valign-wrapper"><a href="#section_contract"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Contratar</a></li>
                   <li class="valign-wrapper"><a href=""><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a></li>
               </ul> -->
            </div>
        </nav>
    </div>
    <!--  Parallax Section  -->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static "img/ampulheta.jpg" %}"></div>
        <div class="caption left-align margin-parallax">
            <div class="row fadeIn">
                <div class="col s12 wrapper2">
                    <div class="img-logo">
                        <img src="{% static "img/logo-certa.png" %}" alt="logo" class="responsive-img">
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="base_text arial_round center">TW<span class="principal_text">314</span></h2>
                    <h5 class="light base_text text-lighten-3 center">Não perca seu tempo</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="section base_bg scrollspy" id="section_bus">
        <!-- Institucional -->
        <h4 class="wow fadeIn light valign-wrapper"><i class="fa fa-question-circle medium" aria-hidden="true"></i></i> Quem somos?</h4>
        <div class="row container">
            <div class="col l4 m12 s12 wow fadeInLeft">
                <div class="hoverable card">
                    <div class="card-image valign-wrapper">
                        <img src="{% static "img/missao.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Missão</span>
                        <p class="flow-text valign center">Nosso objetivo é trazer a você a chance de aproveitar melhor seu tempo, trazendo mais produtividade ao seu dia.</p>
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12 wow fadeInDown">
                <div class="hoverable card">
                    <div class="card-image valign-wrapper">
                        <img src="{% static "img/valores.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Valores</span>
                        <p class="flow-text valign center">Para isso sempre tendo em mente a qualidade, eficiência e eficácia do que fazemos.</p>
                    </div>
                </div>
            </div>
            <div class="col l4 m12 s12 wow fadeInRight">
                <div class="hoverable card">
                    <div class="card-image valign-wrapper">
                        <img style="opacity: 80" src="{% static "img/visao.jpg" %}" class="responsive-img" alt="Missão">
                        <span class="card-title">Visão</span>
                        <p class="flow-text valign center">Nos dedicando ao máximo pra trazer a você o melhor resultado.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section base_bg scrollspy" id="section_how">
        <!-- Animacao -->
        <div class="row">
            <h4 class="wow fadeIn light valign-wrapper"><i class="fa fa-info-circle medium" aria-hidden="true"></i> Como funciona?</h4>
            <div class="animation-wrapper" id="flexible-animation">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                            <div class="caption left-align">
                                <h3>Left Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                            <div class="caption right-align">
                                <h3>Right Aligned Caption</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="row scrollspy" id="section_clients">
        <div class="parallax-container" style="height: 40em;">
            <div class="parallax"><img src="{% static "img/ampulheta-3.jpg" %}"></div>
        </div>
        <div class="row section-parallax">
            <h4 class="wow fadeIn light valign-wrapper texto_text"><i class="fa fa-users medium" aria-hidden="true"></i> Clientes</h4>
        </div>
        <div class="container">
            <div class="owl-carousel center-align">
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/sica.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">SICA<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">SICA<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Serviço de Interação Cliente-Autônomo</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/wistoll.jpg" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">WISTOLL<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">WISTOLL<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Where is the protocol? (Onde está o protocolo?)</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/logo.png" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Foco no Aedes <i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Foco no Aedes<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Apoio ao Aedes</p>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInLeft item">
                    <div class="card small hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{% static "img/cpa-vale" %}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">CPA - Vale<i class="right fa fa-ellipsis-v" aria-hidden="true"></i> </span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">CPA - Vale<i class="right fa fa-times" aria-hidden="true"></i> </span>
                            <p>Controle na produção de Arroz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section base_bg scrollspy" id="section_contact">
        <div class="row">
            <h4 class="wow fadeIn light valign-wrapper"><i class="fa fa-comments medium" aria-hidden="true"></i> Contato</h4>
            <div class="container">
                <div class="row ">
                    <div class="col s12 m8 push-m2 ">
                        <div class="wow fadeIn card hoverable  base_bg">
                            <div class="card-content center-block">
                                <span class="card-title">Ainda com dúvidas? Tire-as agora!</span>
                            </div>
                            <div class="card-action">
                                <form method="POST" class="col s12">{% csrf_token %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="nome" type="text" class="validate">
                                            <label for="nome">Nome Completo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" name="email" type="email" class="validate">
                                            <label for="email">E-mail</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="assunto" name="assunto" type="text" class="validate">
                                            <label for="assunto">Assunto</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="mensagem" name="mensagem" class="materialize-textarea"></textarea>
                                            <label for="mensagem">Mensagem</label>
                                        </div>
                                    </div>
                                    <button class="btn waves-effect waves-light btn secundaria1_bg right" type="submit" name="action">
                                        Enviar <i class="fa fa-send" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="row" style="margin: 0;">
        <div class="parallax-container  parallax-container2">
            <div class="parallax"><img src="{% static "img/ampulheta-2.jpg" %}"></div>
            <h4 class="wow fadeIn light valign-wrapper base_text scrollspy" id="section_contract"><i class="fa fa-thumbs-up medium" aria-hidden="true"></i>Contratar</h4>
            <div class="row">
                <div class="col s12 m8 push-m2">
                    <div class="container">
                        <div class="row ">
                            <div class="wow fadeIn card hoverable">
                                <div class="card-content center-block">
                                    <span class="card-title texto_text">Quer entrar pro time? Faça o pedido!</span>
                                </div>
                                <div class="card-action">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="responsavel" type="text" class="validate">
                                                <label for="responsavel">Nome do Responsável</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="contato" type="email" class="validate">
                                                <label for="contato">E-mail para contato</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="cnpj" type="text" class="validate">
                                                <label for="cnpj">CNPJ</label>
                                            </div>
                                        </div>
                                        <a href="#" class="waves-effect waves-light btn-xlarge btn-large secundaria1_bg right flow-text">Eu quero! <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </form>
                                    <a href=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-align ">
                <div class="row">
                    <footer  class="page-footer fixed-footer wow fadeInUp">
                        <div class="container hide-on-large-only">
                            <div class="row">
                                <div class="col s12">
                                    <h5 class="white-text">Mapa</h5>
                                    <ul class="uppercase">
                                        <li><a class="base_text" href="#home">Home</a></li>
                                        <li><a class="base_text" href="#section_bus">Quem somos?</a></li>
                                        <li><a class="base_text" href="#section_how">Como Funciona?</a></li>
                                        <li><a class="base_text" href="#section_clients">Clientes</a></li>
                                        <li><a class="base_text" href="#section_contact">Contato</a></li>
                                        <li><a class="base_text" href="#section_contract">Contratar</a></li>
                                    </ul>
                                    <div class="col s12 center-align"><span class="base_text center">© 2016 TW314 V1.0</span></div>
                                </div>
                            </div>
                        </div>
                        <a href="#0" class="cd-top">Top</a>
                        <div class="footer-copyright hide-on-med-and-down bolder uppercase master-footer">
                            <span class="base_text left">© 2016 TW314 V1.0</span>
                            <a class="base_text right" href="#section_contract">Contratar</a>
                            <a class="base_text right" href="#section_contact">Contato</a>
                            <a class="base_text right" href="#section_clients">Clientes</a>
                            <a class="base_text right" href="#section_how">Como Funciona?</a>
                            <a class="base_text right" href="#section_bus">Quem somos?</a>
                            <a class="base_text right" href="#home">Home</a>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--  Scripts-->

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>

<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>

<script type="text/javascript" src="{% static "js/backtotop.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script type="application/javascript">
    new WOW().init();
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.tooltipped').tooltip({delay: 50});
        $('.scrollspy').scrollSpy();
        $(".owl-carousel").owlCarousel({
                center: true,
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:3000,
                autoplayHoverPause:true,
                responsive:{
                    260:{
                        items: 1
                    },
                    599:{
                        items: 1
                    },
                    992:{
                        items: 2
                    },
                    993:{
                        items: 3
                    }
                }
            }
        );
    });
</script>

</body>
</html>